#konora-wrapper-widjet .konora-form {
    font-family: sans-serif; 
    background-color:#ededed; 
    padding: 10px 2px 10px 2px;
    text-align: center; 
    border: 1px solid #828282;
    border-radius: 5px;
}

#konora-wrapper-widjet .konora-form p {
    margin: 10px 4px 10px 4px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

#konora-wrapper-widjet .konora-form label {
    font-size: 15px;
    color: #828282;
}
    
#konora-wrapper-widjet .konora-form input {
    color: black;
    background-color: white;
    margin: 0;
    padding: 6px 12px 6px 12px;
    font-size: 16px;
    width: 224px;
}

#konora-wrapper-widjet .konora-form input[type=submit] {
    height: 2em;
    border-radius: 3px;
    border: 1px solid #828282;
    background-color: #ffCC33;
    color: #828282;
    font-weight: bold;
    width: 250px;
}

#konora-wrapper-widjet .konora-form input[type=submit]:hover {
    background-color: #f6e2ac;
}
